
<html lang="en">
<head >
 <title >Card Form</title >
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <link href="stylesheet.css" rel="stylesheet">
 <link href="main.css" rel="stylesheet" >
 <script src="validation.js"></script>
</head >

<body>
<div class="container main-content col-md-4">


<form name='registration' onSubmit="return formValidation();">
<div class="form-group">
<label>Credit Card Number</label>
<input class='form-control' name='credit' type="text" ng-model="credit.number" id="number" placeholder="5480 1111 1111 1111">
</div>

<div class="form-group">
<label>Expiration Date</label>
<input class='form-control' name='credit' type="month" ng-model="credit.expiration" id="date">
</div>

<div class="form-group">
<label>Name</label>
<input class='form-control' name='credit' type="text" ng-model="credit.name" id="name" placeholder="John Doe">
</div>


  <input type="submit" class="btn btn-primary" name="submit" value="Submit" />

</form>

</div>

<div class="container price col-md-4">
 <h3>Total Price:</h3>
 <h4>Course Subject:</h4>
   <div class="graph col-md-12" id="ori"></div>
 </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="main.js"></script>

</body>
</html>